{% extends 'index_centre.html' %}

{% block content %}
    <h1>Informació de l'alumne <u>{{ student.nom }}</u></h1>
    <ul>
        <li>ID: {{ student.id }}</li>
        <li>Nom: {{ student.nom }}</li>
        <li>Cognom1: {{ student.surname1 }}</li>
        <li>Cognom2: {{ student.surname2 }}</li>
        <li>Email: {{ student.email }}</li>
        <li>Course: {{ student.course}}</li>
        <li>Modulo: {{ student.moduls }}</li>
    </ul><br>
    <p><a href="{% url 'students' %}"> Back </a></p> 
    <td><a href="{% url 'updateS' student.id %}">EDIT</a></td>  
{% endblock %}
    