
{% extends 'index_centre.html' %}

{% block content %}
    <h1>Informació del profesorado <u>{{ professor.nom }}</u></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Cognom1</th>
            <th>Cognom2</th>
            <th>Email</th>
            <th>Course</th>
            <th>Tutor</th>
            <th>Modulo</th>
        </tr>
        <tr>
            <td>{{ professor.id }}</td>
            <td>{{ professor.nom }}</td>
            <td>{{ professor.surname1 }}</td>
            <td>{{ professor.surname2 }}</td>
            <td>{{ professor.email }}</td>
            <td>{{ professor.course }}</td>
            <td>{{ professor.tutor }}</td>
            <td>{{ professor.moduls }}</td>
        </tr>
    </table>
    <br>
    <p><a href="{% url 'professor' %}">Back</a></p> 
    <td><a href="{% url 'updateP' professor.id %}">EDIT</a></td> 
    <td><a href="{% url 'deleteP' professor.id %}">DELETE</a></td> 
{% endblock %}
    
