<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT</title>
</head>
<body>
    
   
    {% extends 'index_centre.html' %}
    {% block content %}

    <table>
        
        <tr>
            <th>NOM</th>
            <th>SURNAME</th>
            <th>CORREU</th>
            <th>CURS</th>
            <th>MODULS</th>
        </tr>

        {% for students_key, students in students.items %}
        <tr>
            <td>{{ students.nom }}</td>
            <td>{{ students.surname1 }} {{ professor.surname2 }}</td>
            <td>{{ students.correu }}</td>
            <td>{{ students.curs }}</td>
            <td>{{ students.moduls }}</td>
            
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'students' %}">Go back</a>
    {% endblock %}
    
</body>
</html>