
    
   
    {% extends 'index_centre.html' %}
    {% block content %}

    <table>
        
        <tr>
            <th>NOM</th>
            <th>SURNAME1</th>
            <th>SURNAME2</th>
            <th>EMAIL</th>
            <th>COURSE</th>
            <th>MODULS</th>
        </tr>

        {% for muchacho in students %}
        <tr>
            <td>{{ muchacho.nom }}</td>
            <td>{{ muchacho.surname1 }}</td>
            <td>{{ muchacho.surname2 }}</td>
            <td>{{ muchacho.email }}</td>
            <td>{{ muchacho.course }}</td>
            <td>{{ muchacho.moduls }}</td>
            
        </tr>
        {% endfor %}
    </table>
<br/>
    <!-- <a href="{% url 'students' %}">Go back</a> -->
    {% endblock %}
